.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.flex-container2 {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: black;
}

.titulo {
  color: white;
  flex: center;
  margin-bottom: 100px;
}

.resultado {
  margin-top: 10px;
}

.comienzo {
  color: yellow;
  font-family: fantasy;
  text-decoration: none;
  font-size: 40px;
}
