@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=VT323&display=swap');

.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.flex-container2 {
  display: flex;
  justify-content: space-around;
}

.flex-container2 div a {
  font-family: 'VT323', monospace;
  font-size: 80px;
}

body {
  background-color: black;

}

.titulo {
  color: white;
  margin-bottom: 100px;
}

.resultado {
  margin-top: 10px;
}

.comienzo {
  color: yellow;
  font-family: fantasy;
  text-decoration: none;
  font-size: 40px;
}
